@model Althaus_Warehouse.Models.Entities.Item

<link rel="stylesheet" href="~/css/itemscss/edititem.css" />

<h2>Item Details</h2>
<div>
    <p>Item ID: @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Quantity:</strong> @Model.Quantity</p>
    <p><strong>Price:</strong> @Model.Price.ToString("C")</p>
    <p><strong>In Stock:</strong> @(Model.InStock ? "Yes" : "No")</p>
    <p><strong>Item Type:</strong> @(Model.ItemType?.Name ?? "N/A")</p>
</div>
<a asp-action="Update" class="btn btn-primary" asp-route-id="@Model.Id">Edit Item</a>
<a asp-action="Index" class="btn btn-secondary" style="padding-top: 8.5px;padding-bottom: 8.5px;">Back to List</a>
