@model IEnumerable<Althaus_Warehouse.Models.Entities.Item>
@{
    var paginationMetaData = ViewBag.PaginationMetaData as Althaus_Warehouse.Services.PaginationMetaData;
}

<h1>Item List</h1>

<a class="btn btn-primary" asp-action="Create">Create New Item</a>

<table id="items-table" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>£ Per Unit</th>
            <th>Item Type</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.ItemType?.Name</td>
                <td>@item.DateCreated.ToString("dd MM yyyy")</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination for item page -->
<div class="pagination">
    @if (paginationMetaData != null)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (paginationMetaData.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageSize="@paginationMetaData.PageSize" asp-route-currentPage="@(paginationMetaData.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= paginationMetaData.TotalPageCount; i++)
                {
                    <li class="page-item @(i == paginationMetaData.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-pageSize="@paginationMetaData.PageSize" asp-route-currentPage="@i">@i</a>
                    </li>
                }

                @if (paginationMetaData.CurrentPage < paginationMetaData.TotalPageCount)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageSize="@paginationMetaData.PageSize" asp-route-currentPage="@(paginationMetaData.CurrentPage + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>
